{% assign author = include.author %}
{% assign author_is_self = false %}
{%- assign author_last_name = author.last | regex_replace: '[*鈭椻€犫€÷垛€?^]', '' -%}
{%- assign author_last_html = author.last | regex_replace: '([*鈭椻€犫€÷垛€?^]+)', '<sup>\1</sup>' -%}
{% if site.scholar.last_name contains author_last_name %}
  {% if site.scholar.first_name contains author.first %}
    {% assign author_is_self = true %}
  {% endif %}
{%- endif -%}
{% assign coauthor_url = null %}
{%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
{% if site.data.coauthors[clean_last_name] %}
  {%- for coauthor in site.data.coauthors[clean_last_name] -%}
    {% if coauthor.firstname contains author.first %}
      {%- assign coauthor_url = coauthor.url -%}
      {% break %}
    {%- endif -%}
  {% endfor %}
{%- endif -%}

{%- if author_is_self -%}
  <strong>
    {{- author.first }}
    {{ author_last_html -}}
  </strong>
{%- else -%}
  {%- if coauthor_url -%}
    <a href="{{ coauthor_url }}">
      {{- author.first }}
      {{ author_last_html -}}
    </a>
  {%- else -%}
    {{- author.first }}
    {{ author_last_html -}}
  {% endif %}
{%- endif -%}
